<template>
	<div>
		<v-container fluid grid-list-xl>
			<v-layout align-center justify-space-between row fill-height>
				<v-flex xs3>
					<v-text-field label="Project Name" v-model="mappedLines.projectName"></v-text-field>
				</v-flex>
				<v-flex xs3>
					<v-text-field label="Image Name" v-model="mappedLines.imageDesignation"></v-text-field>
				</v-flex>
				<v-flex xs5>
					<v-text-field label="Image URL" v-model="mappedLines.imageUrl"></v-text-field>
				</v-flex>
				<v-flex xs1>
					<v-tooltip bottom>
						<template v-slot:activator="{ on }">
							<v-icon color="primary" dark v-on="on">info</v-icon>
						</template>
						<span>Input the path to a iiif info.json source or go to File->Import Image to load a local file.</span>
					</v-tooltip>
				</v-flex>
			</v-layout>
		</v-container>
	</div>
</template>

<script>
const electron = require('electron')
const { dialog } = require('electron').remote
const fs = require('fs')
import { loadData, unloadOldData } from '@/services/load-data'
import saveDataFile from '@/services/save-data'

export default {
	props: {
		mappedLines:  {
			transcribedLines: {},
			transcribedLinesList: [],
			svgLinesList: [],
			selectedLine: {svg: undefined, transcrip: undefined},
			imageDesignation: undefined,
			imageUrl: undefined,
			projectName: undefined,
			imageHeight: undefined,
			imageWidth: undefined,
		}
	},
	data() {
		return {
			fileElem: undefined,
		}
	},
	methods: {
		saveData(type) {
			saveDataFile(this.mappedLines, type)
		},
		loadFiles(files) {
			if(files !== undefined && files.length === 1) {
				var reader = new FileReader()

				reader.onload = (() => {
					return (e) => {
						try {
							const json = JSON.parse(e.target.result)
							loadData(json)
							alert('json has been parsed as:\n' + JSON.stringify(json))
						} catch (ex) {
							alert('error when trying to parse json = ' + ex)
						}
					}
				})(files[0])

				reader.readAsText(files[0])
			}
		},
		openFileDialog() {
			if (this.fileElem) this.fileElem.click()
		},
		newFile() {
			unloadOldData(this.mappedLines)
		},
	},
	mounted: function () {
		this.fileElem = document.getElementById("fileElem")

		electron.ipcRenderer.on('new file', () => {
			this.newFile()
		})

		electron.ipcRenderer.on('open', () => {
			this.openFileDialog()
			dialog.showOpenDialog({
					properties: ['openFile'],
					filters :[
						{name: 'Data Files', extensions: ['json']}
					]
				}, (files) => {
					if (files !== undefined && files.length === 1 && files[0]) {
						fs.readFile(files[0], 'utf-8', (err, data) => {
							if(err){
									alert("An error ocurred reading the file :" + err.message);
									return;
							}
							const json = JSON.parse(data)
							loadData(json, this.mappedLines)
						})
					}
			})
		})

		electron.ipcRenderer.on('import image', () => {
			this.openFileDialog()
			dialog.showOpenDialog({
					properties: ['openFile'],
					filters :[
						{name: 'Image Files', extensions: ['jpg','png','jpeg','psd','tif','tiff']}
					]
				}, (files) => {
					if (files !== undefined && files.length === 1 && files[0]) {
						this.mappedLines.imageUrl = files[0]
					}
			})
		})

		electron.ipcRenderer.on('save', () => {
			this.saveData('JSON')
		})

		electron.ipcRenderer.on('export alto', () => {
			this.saveData('XML')
		})
	}
}
</script>

<style>

</style>
