<template>
    <div>
        <table class="mapping-headers">
        <tr>
            <th class="text-xs-left svg-line-list">Polyline</th>
            <th class="text-xs-left line-transcription-name">Line Name</th>
            <th class="text-xs-left line-transcription-text">
                <span>Line Transcription</span>
                <v-icon small @click="addTranscribedLine(mappedLines.transcribedLinesList.length)">mdi-plus-box
                </v-icon>
            </th>
        </tr>
        </table>
        <div class="combined-listings">
            <draggable class="svg-line-list" v-model="mappedLines.svgLinesList" group="svglines"
                       @start="drag=true" @end="drag=false" @change="reselect" handle=".handle">
                <div v-for="(_, svgIdx) in mappedLines.svgLinesList" :key="svgIdx"
                    @click="setLine(svgIdx)" :class="{
    'entry': true, 'selectable-row': true, 'selected-line':(mappedLines.selectedLine.svg !== null && mappedLines.selectedLine.svg === svgIdx)}">
                    <v-icon class="handle" small color="gray">mdi-menu</v-icon>
                    <span>{{svgIdx + 1}}</span>
                    <v-icon small color="red" @click="deleteLineMap(svgIdx)">mdi-delete-forever</v-icon>
                </div>
            </draggable>
            <draggable class="text-line-list" v-model="mappedLines.transcribedLinesList"
                       group="transcriptions"
                       @start="drag=true" @end="drag=false" @change="reselect" handle=".handle">
                <div class="entry" v-for="transId of mappedLines.transcribedLinesList" :key="transId"
                    @click="setLine(mappedLines.transcribedLinesList.indexOf(transId))" :class="{
    'selectable-row': true, 'selected-line':(mappedLines.selectedLine.transcrip !== null && mappedLines.selectedLine.transcrip === transId)}">
                    <div class="subentry line-transcription-name">
                        <v-icon class="handle" small color="gray">mdi-menu</v-icon>
                        <v-icon small color="red" @click="deleteLineTranscription(transId)">mdi-delete-forever</v-icon>
                        <v-text-field class="line-name" v-model="mappedLines.transcribedLines[transId].name"
                                      label="Edit"
                                      single-line
                                      counter
                                      autofocus
                        ></v-text-field>
                        <v-icon small color="green"
                                @click="addTranscribedLine(mappedLines.transcribedLinesList.indexOf(transId) + 1)">
                            mdi-plus-box
                        </v-icon>
                    </div>
                    <div class="subentry line-transcription-text">
                        <v-text-field v-model="mappedLines.transcribedLines[transId].text" label="Edit"
                                      single-line
                                      counter
                                      autofocus
                        ></v-text-field>
                    </div>
                </div>
            </draggable>
        </div>
    </div>
</template>

<script>
	import draggable from 'vuedraggable'

	export default {
		name: 'LineItems', components: {
			draggable,
		}, props: {
			mappedLines: {
				transcribedLines: {},
				transcribedLinesList: [],
				svgLinesList: [],
				selectedLine: {svg: undefined, transcrip: undefined},
				imageDesignation: undefined,
				imageUrl: undefined,
				projectName: undefined,
				imageHeight: undefined,
				imageWidth: undefined,
			},
		}, data() {
			return {
				drag: false,
				selectedLine: {lineTranscriptionId: 0, mappedId: 0},
				changedLineText: '',
				changedLineName: '',
				headers: [{
					text: 'Map Ids', align: 'left', sortable: false, value: 'name',
				}, {text: 'Mapped Id', value: 'mappedId'}, {text: 'Mapped Line', value: 'mappedSVG'}, {
					text: 'Map Pos', sortable: false, value: '',
				}, {text: 'Line Name', value: 'lineName'}, {
					text: 'Line Transcription', value: 'lineTranscription',
				}, {text: 'Tr Pos', sortable: false, value: ''}],
			}
		}, methods: {
			addTranscribedLine(idx) {
				let id = 1

				if (this.mappedLines.transcribedLinesList.length > 0) {
					id = Math.max(...this.mappedLines.transcribedLinesList) + 1
				}
				this.mappedLines.transcribedLines[id] = {name: '1', text: ''}
				this.mappedLines.transcribedLinesList.splice(idx, 0, id)
				this.reflowTranscriptionLinesNames()
          /*this.reflowTranscriptionLinesFrom(this.mappedLines.transcribedLinesList.indexOf(id) > 0
           ? this.mappedLines.transcribedLinesList.indexOf(id) - 1
           : 0)*/
			}, setLine(idx) {
				this.mappedLines.selectedLine = {
					svg: idx < this.mappedLines.svgLinesList.length ? idx : null,
					transcrip: idx < this.mappedLines.transcribedLinesList.length ? this.mappedLines.transcribedLinesList[idx] : null,
				}
			}, reflowTranscriptionLinesNames() {
				if (this.mappedLines.transcribedLinesList.length === 0) return
				let startIdx = 0
				let lineNumber = parseInt(
					this.mappedLines.transcribedLines[this.mappedLines.transcribedLinesList[startIdx]].name, 10)
				while (isNaN(lineNumber) && startIdx < this.mappedLines.transcribedLinesList.length) {
					startIdx++
					lineNumber = parseInt(this.mappedLines.transcribedLines[this.mappedLines.transcribedLinesList[startIdx]].name,
																10)
				}
				let currentNumber = 0
				for (let i = startIdx; i < this.mappedLines.transcribedLinesList.length; i++) {
					const id = this.mappedLines.transcribedLinesList[i]
					if (((this.mappedLines.transcribedLines[id].name || '').match(
						/[^\d]/g) || []).length === 0) currentNumber += 1
					this.$set(this.mappedLines.transcribedLines[id], 'name',
										this.mappedLines.transcribedLines[id].name.replace(/\d+/, currentNumber))
				}
			}, deleteLineTranscription(id) {
				this.mappedLines.transcribedLinesList = this.mappedLines.transcribedLinesList.filter(x => x !== id)
				this.reflowTranscriptionLinesNames()
				delete this.mappedLines.transcribedLines[id]
			}, deleteLineMap(lineMapIdx) {
				this.mappedLines.svgLinesList.splice(lineMapIdx, 1)
			}, reselect(item) {
					this.setLine(item.moved.newIndex)
            }
        }, watch: {
			'mappedLines.transcribedLinesList': function () {
				this.reflowTranscriptionLinesNames()
			},
		},
	}
</script>

<style>
    .mapping-headers {
        height: 30px;
        text-align: left;
    }
    .combined-listings {
        height: calc(25vw - 30px);
        max-height: calc(25vw - 30px);
        overflow-y: auto;
    }
    .svg-line-list {
        width: 100px;
        display: inline-block;
        vertical-align: text-top;
    }

    .text-line-list {
        display: inline-block;
        width: calc(100vw - 100px - 35px);
        vertical-align: text-top;
    }

    .line-name {
        width: 60px;
        display: inline-block;
    }

    div.entry {
        height: 70px;
        vertical-align: middle;
        line-height: 70px;
    }

    div.subentry {
        display: inline-block;
    }

    .line-transcription-name {
        width: 120px;
    }

    .line-transcription-text {
        width: calc(100% - 120px);
    }
    .line-data {
        /* max-height: 30vh; */
        /* overflow: auto; */
    }

    .selected-line {
        background: lightblue
    }

    .selectable-row {
        cursor: pointer;
    }
</style>
