<template>
    <div :id="uid" class="open-seadragon" oncontextmenu="return false;"></div>
</template>

<script>
	const fs = require('fs')
	import OpenSeadragon from '@/utils/openseadragon-svg.js'
	const svgNS = 'http://www.w3.org/2000/svg'

	const readChunk = require('read-chunk')
	const fileType = require('file-type')
	//import PSD from 'psd.js' //The package doesn't load properly
	import PSD from '@/services/PSD.js'
	const Tiff = require('tiff.js')

	export default {
		name: 'SeaDragon', props: {
			width: undefined,
			height: undefined,
			prefixUrl: undefined,
			zoom: undefined,
			maxZoomLevel: undefined,
			ajaxWithCredentials: undefined,
			showNavigator: undefined,
			homeFillsViewer: undefined,
			navigatorId: undefined,
			toolbar: undefined,
			zoomInButton: undefined,
			zoomOutButton: undefined,
			homeButton: undefined,
			fullPageButton: undefined,
			panHorizontal: undefined,
			panVertical: undefined,
			mouseNavEnabled: undefined,
			rotateDeg: undefined,
			mappedLines: {
				transcribedLines: {},
				svgLines: {}, // Each object here has a 2d array of points ([[0,0],[10,10]]) which can be visualized with <polyline points="0,0 10,10"/>
				transcribedLinesList: [],
				svgLinesList: [],
				selectedLine: {svg: undefined, transcrip: undefined},
				imageDesignation: undefined,
				imageUrl: undefined,
				projectName: undefined,
				imageHeight: undefined,
				imageWidth: undefined,
			},
		}, data() {
			return {
				uid: 'seadragon-view',
				viewer: undefined,
				svgOverlay: undefined,
				currentLine: [],
				d3Line: undefined,
				d3Point: undefined,
				d3Lines: [],
				d3Points: [],
				svgScale: 1,
				selectedNode: undefined,
				blobUrl: undefined,
				lineSize: 0.005, // This looks to be a good size, it is in the coordinate system of the SVG overlay
				nodeSize: 0.007, // This looks to be a good size, it is in the coordinate system of the SVG overlay
			}
		}, computed: {
			tileSources() {
				if (this.blobUrl) URL.revokeObjectURL(this.blobUrl)
				// eslint-disable-next-line
				this.blobUrl = undefined
				if (this.imageUrl === undefined) {
					return []
				}
				else if (this.imageUrl.substring(0, 4) === 'http') {
					return [this.imageUrl]
				}
				else {
					const buffer = readChunk.sync(this.imageUrl, 0, fileType.minimumBytes)
					if (fileType(buffer).mime.indexOf('tif') !== -1) {
						let image = new Tiff({buffer: fs.readFileSync(this.imageUrl)})
						// eslint-disable-next-line
						this.blobUrl = image.toCanvas().toDataURL()
						return [{
							type: 'image', url: this.blobUrl,
						}]
					}
					else if (fileType(buffer).mime.indexOf('photoshop') !== -1) {
						const data = fs.readFileSync(this.imageUrl)
						const psd = new PSD(data)
						psd.parse()
						// eslint-disable-next-line
						this.blobUrl = psd.image.toBase64()
						return [{
							type: 'image', url: this.blobUrl,
						}]
					}
					else {
						const data = fs.readFileSync(this.imageUrl)
						const blob = new Blob([data], {type: 'image/jpeg'})
						// eslint-disable-next-line
						this.blobUrl = URL.createObjectURL(blob)
						return [{
							type: 'image', url: this.blobUrl,
						}]
					}
				}
			}, imageUrl() {
				return this.mappedLines.imageUrl
			}, seaDragonSettings() {
				return Object.assign({
					id: this.uid,
					tileSources: this.tileSources, //prefixUrl: this.prefixUrl,
					prefixUrl: 'https://cdn.jsdelivr.net/npm/openseadragon@2.4.1/build/openseadragon/images/',
					ajaxWithCredentials: false,
					crossOriginPolicy: false,
					showNavigator: true,
					homeFillsViewer: true,
					panHorizontal: true,
					panVertical: true,
					mouseNavEnabled: true,
					gestureSettingsMouse: {clickToZoom: false, pinchToZoom: true, pinchRotate: true},
					showZoomControl: true,
					showHomeControl: true,
					showFullPageControl: true,
					showRotationControl: true,
				}, {
					// maxZoomLevel: this.maxZoomLevel,
					// navigatorId: this.navigatorId,
					// toolbar: this.toolbar,
					// zoomInButton: this.zoomInButton,
					// zoomOutButton: this.zoomOutButton,
					// homeButton: this.homeButton,
					// fullPageButton: this.fullPageButton,
				})
			},
		}, methods: {
			displayImage() {
				if (this.viewer) this.viewer.destroy()
				this.mappedLines.imageWidth = undefined
				this.mappedLines.imageHeight = undefined

				this.viewer = new OpenSeadragon(this.seaDragonSettings)

				this.svgOverlay = this.viewer.svgOverlay()

				this.viewer.addHandler('canvas-press', (event) => {
					let webPoint = event.position
					let viewportPoint = this.viewer.viewport.pointFromPixel(webPoint)
					let imagePoint = this.viewer.viewport.viewportToImageCoordinates(viewportPoint)
					const x = Math.floor(imagePoint.x)
					const y = Math.floor(imagePoint.y)
					if (this.currentLine.length > 0) {
						this.currentLine.push([x, y])
						this.addNodeToCurrentLine({x: x, y: y})
					}
					else {
						this.selectedNode = this.nodeForPoint({x: x, y: y})
					}
				})

				this.viewer.addHandler('canvas-nonprimary-press', (event) => {
					let webPoint = event.position
					let viewportPoint = this.viewer.viewport.pointFromPixel(webPoint)
					let imagePoint = this.viewer.viewport.viewportToImageCoordinates(viewportPoint)
					const x = Math.floor(imagePoint.x)
					const y = Math.floor(imagePoint.y)
					if (this.currentLine.length === 0) {
						const newLineElements = document.getElementsByClassName('new-line')
						for (let el of newLineElements) {
								el.parentNode.removeChild(el)
						}
						this.currentLine = [[x, y]]
						this.addNodeToCurrentLine({x: x, y: y})
						this.mappedLines.selectedLine = {svg: null, transcrip: null}
					}
					else {
						this.currentLine.push([x, y])
						this.mappedLines.svgLinesList.push({svgPolyLine: this.currentLine})
						this.currentLine = []
						this.mappedLines.selectedLine = {
							svg: this.mappedLines.svgLinesList.length - 1,
							transcrip: this.mappedLines.svgLinesList.length <= this.mappedLines.transcribedLinesList.length
								? this.mappedLines.svgLinesList.length - 1 : null
							}
					}
				})

				this.viewer.addHandler('canvas-drag', (event) => {
					if (this.selectedNode !== undefined) {
						event.preventDefaultAction = true
						let webPoint = event.position
						let viewportPoint = this.viewer.viewport.pointFromPixel(webPoint)
						let imagePoint = this.viewer.viewport.viewportToImageCoordinates(viewportPoint)
						const x = Math.floor(imagePoint.x)
						const y = Math.floor(imagePoint.y)
						this.mappedLines.svgLinesList[this.selectedNode.line].svgPolyLine[this.selectedNode.nidx] = [x, y]


						this.selectedNode.svgNode.setAttribute('cx', (x / this.svgScale).toString())
						this.selectedNode.svgNode.setAttribute('cy', (y / this.svgScale).toString())
						this.selectedNode.svgLine.setAttribute('d',
								'M' + this.mappedLines.svgLinesList[this.selectedNode.line].svgPolyLine.map(
									z => (z[0] / this.svgScale) + ' ' + (z[1] / this.svgScale)
									).join('L')
						)
					}
				})

				this.viewer.addHandler('tile-loaded', () => {
					this.svgScale = this.viewer.world.getItemAt(0).getContentSize().x
					this.mappedLines.imageWidth = this.viewer.world.getItemAt(0).getContentSize().x
					this.mappedLines.imageHeight = this.viewer.world.getItemAt(0).getContentSize().y
					this.mapLines()
				})
			},

			mapLines() {
				while (this.svgOverlay.node().firstChild) {
						this.svgOverlay.node().removeChild(this.svgOverlay.node().firstChild);
				}

				for (const [idx, svgLine] of this.mappedLines.svgLinesList.entries()) {
					let line = svgLine.svgPolyLine.map(x => [x[0] / this.svgScale, x[1] / this.svgScale])
					const linePath = 'M' + line.map(x => x[0] + ' ' + x[1]).join('L')

					let svgPath = document.createElementNS(svgNS, 'path')
					svgPath.setAttribute('id', `line-${idx}`)
					svgPath.setAttribute('d', linePath)
					svgPath.setAttribute('stroke',
							this.mappedLines.selectedLine.svg !== undefined && idx === this.mappedLines.selectedLine.svg
								? 'red' : 'blue')
					svgPath.setAttribute('stroke-width', this.lineSize)
					svgPath.setAttribute('stroke-linecap', 'round')
					svgPath.setAttribute('stroke-opacity', '0.25')
					svgPath.setAttribute('fill', 'none')
					this.svgOverlay.node().appendChild(svgPath)

					line.map((x, pointIdx) => {
							let svgPoint = document.createElementNS(svgNS, 'circle')
							svgPoint.setAttribute('id', `line-${idx}-point-${pointIdx}`)
							svgPoint.setAttribute('cx', x[0]);
							svgPoint.setAttribute('cy', x[1]);
							svgPoint.setAttribute('r', this.nodeSize);
							svgPoint.setAttribute('style', 'fill: white; fill-opacity: 0.5;' )
							this.svgOverlay.node().appendChild(svgPoint)
					})
				}
			},

			nodeForPoint(point) {
				const r = 0.008 * this.svgScale
				for (const line in this.mappedLines.svgLinesList) {
					for (const [nidx, node] of this.mappedLines.svgLinesList[line].svgPolyLine.entries()) {
						if (point.x > node[0] - r && point.x < node[0] + r && point.y > node[1] - r && point.y < node[1] + r) {
							return {
								line: line,
								nidx: nidx,
								svgLine: document.getElementById(`line-${line}`),
								svgNode: document.getElementById(`line-${line}-point-${nidx}`)
							}
						}
					}
				}
				return undefined
			},

			addNodeToCurrentLine(point) {
				let svgPoint = document.createElementNS(svgNS, 'circle')
				svgPoint.classList.add('new-line')
				svgPoint.setAttribute('cx', point.x / this.svgScale)
				svgPoint.setAttribute('cy', point.y / this.svgScale)
				svgPoint.setAttribute('r', this.nodeSize)
				svgPoint.setAttribute('style', 'fill: white; fill-opacity: 0.5;' )
				this.svgOverlay.node().appendChild(svgPoint)

				let line = this.currentLine.map(x => [x[0] / this.svgScale, x[1] / this.svgScale])
				const linePath = 'M' + line.map(x => x[0] + ' ' + x[1]).join('L')

				if (this.currentLine.length === 1) {
					let svgPath = document.createElementNS(svgNS, 'path')
					svgPath.classList.add('new-line')
					svgPath.setAttribute('id', 'line-new')
					svgPath.setAttribute('d', linePath)
					svgPath.setAttribute('stroke', 'red')
					svgPath.setAttribute('stroke-width', this.lineSize)
					svgPath.setAttribute('stroke-linecap', 'round')
					svgPath.setAttribute('stroke-opacity', '0.25')
					svgPath.setAttribute('fill', 'none')
					this.svgOverlay.node().appendChild(svgPath)
				} else {
					let svgPath = document.getElementById('line-new')
					if (svgPath !== null) svgPath.setAttribute('d', linePath)
				}
			}
		}, watch: {
			imageUrl(newVal, oldVal) {
				if (newVal !== oldVal) this.displayImage()
			},

			'mappedLines.svgLinesList'() {
				this.mapLines()
			},

			'mappedLines.selectedLine'(newVal, oldVal) {
				if (newVal.svg !== oldVal.svg){
					let oldLine =  document.getElementById(`line-${oldVal.svg}`)
					if (oldLine !== null) oldLine.setAttribute('stroke', 'blue')
					let newLine = document.getElementById(`line-${newVal.svg}`)
					if (newLine !== null) newLine.setAttribute('stroke', 'red')
				}
			},
		}, beforeDestroy: function () {
			this.viewer.destroy()
		},
	}
</script>

<style lang="scss" scoped>
    .open-seadragon {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
</style>
