<template>
	<v-dialog v-model="dialogOpen" fullscreen hide-overlay transition="dialog-bottom-transition">
		<v-card>
			<v-toolbar dark color="primary">
				<v-btn icon dark @click="dialogOpen = false">
					<v-icon>close</v-icon>
				</v-btn>
				<v-toolbar-title>Settings</v-toolbar-title>
				<v-spacer></v-spacer>
				<v-toolbar-items>
					<v-btn dark text @click="loadTranscription">Import</v-btn>
				</v-toolbar-items>
			</v-toolbar>
			<v-container fluid grid-list-xl>
				<v-layout align-center align-start row fill-height>
					<v-flex xs3>
						<v-autocomplete
							label="Manuscripts"
							v-model="selectedEditionId"
							:items="manuscripts"
							item-text="name"
							item-value="id"
						></v-autocomplete>
					</v-flex>
					<v-flex xs5>
						<v-autocomplete
							label="Text Fragments"
							v-model="selectedTextFragment"
							:items="textFragments"
							item-text="name"
							item-value="id"
						></v-autocomplete>
					</v-flex>
				</v-layout>
			</v-container>
			<v-textarea
					class="text-area"
          name="input-7-1"
          label="Transcription"
          hint="Transcription of the selected text fragment"
					v-model="textTranscription"
					:clearable="true"
					:auto-grow="true"
					:outlined="true"
					dir="rtl"
        ></v-textarea>
		</v-card>
	</v-dialog>
</template>

<script>
const electron = require('electron')
import { getManuscripts, getManuscriptTextFragments, getManuscriptTextFragmentTranscription } from '@/services/communicator'
import { formatTranscription } from '@/services/format-transcription'
import { unloadTranscribedLines } from '@/services/load-data'

export default {
	name: 'SqeTextImport',
	props:  {
		mappedLines:  {
			transcribedLines: {},
			transcribedLinesList: [],
			svgLinesList: [],
			selectedLine: {svg: undefined, transcrip: undefined},
			imageDesignation: undefined,
			imageUrl: undefined,
			projectName: undefined,
			imageHeight: undefined,
			imageWidth: undefined,
		},
	},
	data () {
		return {
		dialogOpen: false,
				manuscripts: [],
				selectedEditionId: undefined,
				textFragments: [],
				selectedTextFragment: undefined,
				textTranscription: '',
				textLineNames: [],
		}
	},
	methods: {
		loadTranscription() {
			if (this.textTranscription !== '')
			{
				unloadTranscribedLines(this.mappedLines)
				const lines = this.textTranscription.split('\n')
				let idx = 0
				for (const line of lines) {
					this.mappedLines.transcribedLines[idx] = {
						name: idx < this.textLineNames.length ? this.textLineNames[idx] : (idx + 1).toString(),
                        text: line,
                    }
                    this.mappedLines.transcribedLinesList.push(idx)
					idx++
				}
			}
			this.dialogOpen = false
		},
	},
	mounted: function () {
		electron.ipcRenderer.on('import text', async () => {
			this.dialogOpen = true
			this.manuscripts = await getManuscripts()
		})
	},
	watch: {
		async selectedEditionId(newVal, oldVal) {
			if (newVal !== oldVal) {
				this.textTranscription = ''
				this.textFragments = await getManuscriptTextFragments(newVal)
			}
		},
		async selectedTextFragment(newVal, oldVal) {
			if (newVal !== oldVal) {
				const transcriptionObject = await getManuscriptTextFragmentTranscription(this.selectedEditionId, newVal);
				[this.textTranscription, this.textLineNames] = formatTranscription(transcriptionObject)
			}
		},
	}
}
</script>

<style>
.text-area {
	min-height: 75%;
	height: 74%;
}
</style>
