<template>
  <v-app>
		<app-header :mappedLines="mappedLines"/>
		<sea-dragon :mappedLines="mappedLines"/>
		<line-items :mappedLines="mappedLines"/>
		<sqe-text-import :mappedLines="mappedLines"/>
  </v-app>
</template>

<script>
import SeaDragon from './components/SeaDragon'
import AppHeader from './components/AppHeader'
import LineItems from './components/LineItems'
import SqeTextImport from './components/SqeTextImport'


export default {
	name: 'App',
	components: {
		AppHeader,
		SeaDragon,
		LineItems,
		SqeTextImport,
	},
	data () {
		return {
			mappedLines: {
				transcribedLines: {},
				transcribedLinesList: [],
				svgLinesList: [],
				selectedLine: {svg: undefined, transcrip: undefined},
				imageDesignation: undefined,
				imageUrl: undefined,
				projectName: undefined,
				imageHeight: undefined,
				imageWidth: undefined,
			}
		}
	},
}
</script>
